<div class="container">
  <img src="#">
  <h6>Back</h6>
  <div class="accordion md-accordion accordion-3 z-depth-1-half" id="accordionEx194" role="tablist"
    aria-multiselectable="true">

    <ul class="list-unstyled d-flex justify-content-center pt-5 red-text">
      <li>Add to bookmarks<i class="fas fa-anchor mr-3 fa-2x" aria-hidden="true"></i></li>
      <li>Save to wardrobe<i class="far fa-life-ring mr-3 fa-2x" aria-hidden="true"></i></li>
      <li>Share with friends<i class="far fa-star fa-2x" aria-hidden="true"></i></li>
      <li>Delete scan<i class="far fa-star fa-2x" aria-hidden="true"></li>
    </ul>
  </div>
  <div class="circle-large">1</div>
  <p>
    Used to address the cultivation of fibers and materials as they relate greenhouse
    gas (GHG) emissions.
  </p>
