<div class="container">
    <img src="#">
    <div>
      <h6>Back</h6>
      <%= render "shared/menu" %>
    </div>
</div>
<div class="circle-large">1</div>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<% @product_fabric.fabric.sdgs.each do |sdg| %>
  <p><%= sdg.name %></p>
  <p><%= sdg.description %></p>
  <div class="circle-small">1</div>
<% end %>
