<img src="#">
<h6>Back</h6>
<ul>
  <li>Add to bookmarks</li>
  <li>Save to wardrobe</li>
  <li>Share with friends</li>
  <li>Delete scan</li>
</ul>
<div class="circle">1</div>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<h2>Nylon</h2>
<h5>Climate</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
<h5>Water</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
<h5>Chemistry</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
<h5>Land</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
<h5>Biodiversity</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
<h5>Resource & Waste</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
<h5>Human rights</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
<h5>Animal welfare</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
<h5>Integrity</h5>
<p>
  Used to address the cultivation of fibers and materials as they relate greenhouse
  gas (GHG) emissions.
</p>
<div class="circle">1</div>
