<div class="col-12 mx-auto">
<h1> Wardrobe </h1>
  <div class="card--product">
    <div class="avatar">
      <%= image_tag "dummy_avatar.jpg", class: "avatar" %>
    </div>
    <div class="card--product-content">
      <p class="small bold">product.item_name</p>
      <p class="xs">Score: product.avg_sc </p>
    </div>
    <div class="card--product-icon">
      <%= image_tag "hanger.svg", class: "icon", alt: "add to wardrobe" %>
      <%= image_tag "pencil.svg", class: "icon", alt: "edit" %>
      <%= image_tag "trash.svg", class: "icon", alt: "delete" %>
    </div>
    </div>
</div>
