<div class="container-fluid camera-wrapper p-0">

    <div class="scan-container h-100" data-controller="scan">
      <video class="scan-video h-100" data-scan-target="video" playsinline autoplay>
        Video stream not available.
      </video>
      <button id="scan-startbutton" data-action="click->scan#takePicture" data-scan-target="startbutton"> <%= image_tag "scan.svg", alt: "click button", class: "click-button" %> </button>
      <!-- Optional: Element to display the scan image -->
      <img class="scan-photo" style="display:none;" data-scan-target="photo">
    </div>
    <div class="back-button">
      <%= link_to 'Back', scans_path, class: "btn btn-green" %>
    </div>
    <div class="manual-button">
      <%= link_to 'Manual', new_product_path, class: "btn button-beige" %>
    </div>

</div>
