<div class="container">
  <div class="row justify-content-center text-center m-5">
    <div class="col-8">
      <h1 class="mb-3">Take a Scan!</h1>
      <div class="scan-container" data-controller="scan">
        <video class="scan-video" data-scan-target="video">
          Video stream not available.
        </video>
        <button class="scan-startbutton" data-action="click->scan#takePicture" data-scan-target="startbutton">📸</button>
        <!-- Optional: Element to display the scan image -->
        <img class="scan-photo" style="display:none;" data-scan-target="photo">
      </div>

      <%= link_to 'Back', root_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
