<div class="back-button"><%= link_to "Back", :back %></div>
<div class="image-box">
    <%= image_tag "biodiversity.jpeg", class:"image-box-image"%>
  <div class="image-text-overlay">
    <h3 class="text-center image-text" style="top: 25%;">Biodiversity</h3>
  </div>
</div>
<div class="container pt-4 parallax pb-5">
  <p>
    Picture this: we're embarking on a thrilling expedition to safeguard the incredible variety of life in places like farms
    and processing facilities. It's a biodiversity quest, and we're the guardians of the wild!<br>
    <br>Our first stop is the Biodiversity Management Plan (BMP), the ultimate playbook for preserving the natural wonders. It's
    like a treasure map, ensuring that ecosystems are protected while keeping an eye on how people and the environment are
    affected. And when we talk higher levels, think of the BMP as a superhero guide that not only assesses risks but also dances
    in harmony with the local landscape – a symphony of nature and community.<br>
    <br>But here's where it gets exciting! Our biodiversity heroes are using a powerful framework called Pressure, State, Response
    (PSR) for adaptive monitoring. It's like having a superhero gadget that zooms in on the pressures causing biodiversity
    loss, checks the current state of biodiversity, and takes actions based on super-smart monitoring. Talk about high-tech
    nature protection!<br>
    <br>Now, let's talk restoration magic. Our biodiversity champions are all about bringing back the wild vibes. They're
    introducing native species like nature's superheroes, restoring riparian areas like streamside superheroes, and preserving
    habitat corridors – think of them as the biodiverse highways for our animal pals.<br>
    <br>In a nutshell, this assessment is like a daring expedition into the heart of biodiversity protection. Our heroes aren't
    just keeping an eye on the wild; they're actively restoring and preserving it. Biodiversity, brace yourself for a wild
    ride of conservation! 🌿🦋🌎
  </p>
</div>
