<div class="back-button"><%= link_to "Back", :back %></div>
<div class="image-box">
    <%= image_tag "chemistry.jpg", class:"image-box-image"%>
  <div class="image-text-overlay">
    <h3 class="text-center image-text" style="top: 25%;">Chemistry</h3>
  </div>
</div>
<div class="container pt-4 parallax pb-5">
  <p>
    Imagine we're on a mission to check how programs handle chemicals in making fibers. The Chemical Management Plan (CMP) is
    like a guide, ensuring safety and aligning with the environment.<br>
    <br>Programs are working to use fewer chemicals, recycling where possible. They monitor everything closely with third-party
    checks and targets.<br>
    <br>Beyond safety, they dream big about managing chemicals, thinking about growth and positive outcomes. The assessment
    checks thoroughly for any possible spills.<br>
    <br>In a nutshell, it's a journey where programs blend responsible chemical use with sustainability. 🌐✨
  </p>
</div>
