<div class="container">
  <div class="col mt-5 mx-auto">
    <h1 class="text-center">Typograpgy</h1>
    <div class="row">
      <h1 class="text-center">Heading 1</h1>
      <h2 class="text-center">Heading 2</h2>
      <h3 class="text-center">Heading 3</h3>
      <h4 class="text-center">Heading 4</h4>
      <h5 class="text-center">Heading 5</h5>
      <h6 class="text-center">Heading 6</h6>
      <p class="text-center">Paragraph</p>
      <div class="col-12 mx-auto mt-5">
        <div class="card--fabric">
          <div class="card--fabric-info">
            <div class="info-circle">
              <p>91%</p>
            </div>
          </div>
          <div class="card--fabric-content">
            <h3>Land</h3>
            <p>Land is a place where you can build your own world.</p>
          </div>
          <div class="card--fabric-sdg">
            <div class="circle circle--small circle--small-3">3</div>
          </div>
         </div>
      </div>
      <div class="col-12 mx-auto d-flex justify-content-center">
        <div class="circle circle--large circle--large-1">1</div>
        </div>
      <div class="col-12 mx-auto d-flex justify-content-center px-2">
        <div class="circle circle--medium circle--medium-2">2</div>
      </div>
    </div>
  </div>
</div>
