<div class="container">
  <div class="col mt-5 mx-auto">
    <h1>Welcome to tag-id</h1>
    <div class="row">
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
    </div>
  </div>
</div>
