<div class="container">
  <div class="col mt-5 mx-auto">
    <h1>Welcome to tag-id</h1>
    <div class="row">
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
      <h1>Circles</h1>
      <div class="col-12 mx-auto d-flex justify-content-center">
        <div class="circle circle--large circle--large-1">1</div>
        </div>
      <div class="col-12 mx-auto d-flex justify-content-start px-5">
        <div class="circle circle--medium circle--medium-2">2</div>
      </div>
      <div class="col-12 mx-auto d-flex justify-content-end px-5">
        <div class="circle circle--small circle--small-3">3</div>
      </div>
    </div>
  </div>
</div>
