<div class="back-button"><%= link_to "Back", :back %></div>
<div class="image-box">
    <%= image_tag "human_rights.jpg", class:"image-box-image"%>
  <div class="image-text-overlay">
    <h3 class="text-center image-text" style="top: 25%;">Human Rights</h3>
  </div>
</div>
<div class="container pt-4 parallax pb-5">
  <p>
    Imagine a program that's not just about the job but a celebration of fairness and respect! It's like a festival where
    hired workers are the stars, enjoying fair wages, reasonable hours, and awesome employment terms. No forced labor is
    allowed here – it's a rule! And when it comes to our little ones, we're superheroes fighting against the worst forms of
    child labor, keeping an eye out and fixing any risks.<br>
    <br>But that's not all! We're all about equality and diversity, making sure discrimination is a big no-no. The program is
    like a superhero squad ensuring everyone has an equal shot at success. And hey, we're big fans of freedom, supporting
    association and collective bargaining, because everyone's voice matters.<br>
    <br>Safety is our priority too! We're the safety inspectors, evaluating producers' efforts to create super-safe working
    conditions. And for our small producers, it's not just a job; it's a chance to boost incomes and make them predictably
    awesome. We're like financial wizards making income dreams come true!<br>
    <br>Land and water rights? You bet! We're all about respecting them, with credible evaluations to ensure fairness. And in
    our program, democracy isn't just a word; it's a vibe. We're promoting participation in democratic processes, shaking
    off any state-imposed limitations like true champions.<br>
    <br>It's not just a program; it's a fair work fiesta, where everyone's treated with respect, and the energy is all about
    making lives better! 🌟💼🎉
  </p>
</div>
