<h3>Profile</h3>
<p>Back</p>
<a href="#" class="avatar">
  <% if current_user.avatar.attached? %>
    <%= cl_image_tag current_user.avatar.key, class: "avatar"%>
  <% else %>
    <%= image_tag "dummy_avatar.jpg", class: "avatar-large"%>
  <% end %>
</a>
<h6>Natalia Jackson</h6>
<a>

<%= render "shared/footer" %>
