<div class="container">
  <div class="col mt-5">
    <div class="row profile-header">
      <div class="back-button">
        <%= link_to "Back", :back %>
      </div>
      <h3 class="text-center">Score</h3>
    </div>

    <!-- Score cards -->

    <!-- Card 0 -->
    <div class="score mt-5">
      <div class="score-title mt-5">
        <h6>We avoid</h6>
      </div>
      <div class="score-card mt-3">
        <div class="score-content">
          <p>
            Standard systems with impact areas scoring in this banding may be characterized by lower environmental and/or social impact;
            however, not enough criteria are met, or evidence is lacking to progress to level 1. While there may be some positive
            actions, there will be factors limiting performance, such as not having management and monitoring procedures in place.
          </p>
        </div>
        <div class="score-card-img">
          <div class="circle circle--medium circle--medium-0">0</div>
        </div>
      </div>
    </div>

    <!-- Card 1 -->
    <div class="score mt-5">
      <div class="score-title mt-5">
        <h6>Not good enough</h6>
      </div>
      <div class="score-card mt-3">
        <div class="score-card-img">
          <div class="circle circle--medium circle--medium-1">1</div>
        </div>
        <div class="score-content">
          <p>
            Standard systems with impact areas scoring in this banding may be characterized by some initiative being demonstrated –
            generally focused on risk mitigation and harm reduction. Management plans are focused on the communication and collective
            understanding of impact, underpinned by monitoring that evaluates pressures on the system in question.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->

    <div class="score mt-5">
      <div class="score-title mt-5">
        <h6>It's a start</h6>
      </div>
      <div class="score-card mt-3">
        <div class="score-content">
          <p>
            Standard systems with impact areas scoring in this banding may be characterized by engagement in comprehensive harm reduction
            and/or steps toward demonstrable beneficial outcomes. Ambition is demonstrated through the implementation of actions that are
            site attuned, reviewed annually, and incorporate adaptive responses.
          </p>
        </div>
        <div class="score-card-img">
          <div class="circle circle--medium circle--medium-2">2</div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->

    <div class="score mt-5">
      <div class="score-title mt-5">
        <h6>Good</h6>
      </div>
      <div class="score-card mt-3">
        <div class="score-card-img">
          <div class="circle circle--medium circle--medium-3">3</div>
        </div>
        <div class="score-content ">
          <p>
            Standard systems with impact areas scoring in this banding may be characterized by clear commitments to positive outcomes.
            Experts and relevant stakeholders are consulted in best-practice implementation and goal setting. Harm reduction and beneficial
            outcomes are established for areas outside of the production unit, and continuous improvement is essential.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 4 -->

    <div class="score mt-5 pb-5">
      <div class="score-title mt-5">
        <h6>Great</h6>
      </div>
      <div class="score-card mt-3">
        <div class="score-content">
          <p>
            Standard systems with impact areas scoring in this banding may be characterized by regenerative and/or circular actions that
            holistically address challenges that arise. Impacts are quantified where possible and tangible impact reduction and/or
            beneficial outcomes are being measured over the long term. Long-term goals are set and tracked for both the production unit
            and the surrounding areas.
          </p>
        </div>
        <div class="score-card-img">
          <div class="circle circle--medium circle--medium-4">4</div>
        </div>
      </div>
    </div>

   </div>
</div>
