<div class="back-button"><%= link_to "Back", :back %></div>
<div class="image-box">
    <%= image_tag "Climate.jpeg", class:"image-box-image"%>
  <div class="image-text-overlay">
    <h3 class="text-center image-text" style="top: 25%;">Climate</h3>
  </div>
</div>
<div class="container pt-4 parallax pb-5">
    <p>
      Buckle up for the eco-adventure! We're on a quest to see how well our planet-friendly heroes are taking care of the
      environment while growing those fantastic fibers, like cotton. Think of it as a green thumbs-up review, but cooler! <br>
      <br> So, first things first, we're checking out how these eco-champs deal with the tricky business of greenhouse gas
      emissions. Are they keeping it real and protecting our beautiful nature? We want to make sure their plan is like a superhero
      cape, fitting right into the local environment and giving a shout-out to the community.
      But here's the twist: these eco-heroes are like detectives, keeping a sharp eye on those emissions.<br> <br> They've got secret
      methods, maybe even a third-party superhero squad, to double-check everything. It's all about making sure they're on top of
      the emission game.
      Now, what sets this review apart? It's all about being serious about the mission to cut down those emissions. Our eco-heroes
      are thinking smart about the land, finding cleaner ways to make fibers, and even preparing for the wild side of weather.
      Extreme weather, meet extreme eco-planning!<br>
      <br> But wait, there's more! Our eco-heroes aren't just saving the day; they're also on a mission to find and protect areas that
      are carbon-rich, both above and below the ground. It's like treasure hunting for the Earth's hidden gems. And even though
      measuring soil carbon is a bit like solving a riddle, our heroes are cheering on more research for super-accurate data.<br>
      <br> In a nutshell, it's an eco-review that gives a high-five to programs making a real difference. They're not just growing
      fibers; they're weaving a tale of environmental awesomeness! 🌿🌎💚
    </p>
</div>
