<div class="back-button"><%= link_to "Back", :back %></div>
<div class="image-box">
    <%= image_tag "water_1.webp", class:"image-box-image"%>
  <div class="image-text-overlay">
    <h3 class="text-center image-text" style="top: 25%;">Water</h3>
  </div>
</div>
<div class="container pt-4 parallax pb-5">
  <p>
    Imagine we're on a mission to make sure our favorite superhero—Mother Nature—is staying healthy, especially when it
    comes to water. Picture it like a superhero health checkup but for the water in fiber cultivation (you know, the stuff
    that goes into making cool clothes).<br>
    <br>So, we've got this cool tool that checks how well our superhero's water management plan is doing. It's like a superhero
    guide to keeping water safe and sound! We're not just looking out for the environment; we're also making sure it's good
    for people and communities.<br>
    As our superhero swoops down to save the day, we want to see if the water management plan fits right into the neighborhood.
    Is it like a superhero costume that blends in seamlessly? We're also checking how well our superhero keeps an eye on
    water—knowing when there's too much pressure, figuring out the current state of things, and responding like a true superhero.<br>
    <br>But that's not all! Our superhero has big dreams of making sure water areas stay clean and safe from bad stuff. We're
    looking at how comprehensive the plan is, covering all the bases to keep the water in tip-top shape. And hey, we're even
    making sure our superhero is steering clear of water pollution risks from things like oil and gas.<br>
    <br>In a nutshell, it's like our superhero has a fantastic strategy to save the day by using water wisely, keeping it clean,
    and making sure everyone wins in the end. Superhero-approved water management at its finest! 🌊💪😎
  </p>
</div>
