/* -------*** Card Item  *** -----------
-------------------------------------------
------------HTML code for card-------------
<div class="col-12 mx-auto">
  <div class="card--item">
    <div class="card--item-info">
      <div class="info-circle">
        <p>91<span class="xs">%</span></p>
      </div>
    </div>
    <div class="card--item-content py-3">
      <h3>Nylon</h3>
      <p>Land is a place where you can build your own world.</p>
    </div>
    <div class="card--item-sdg">
      <div class="circle circle--small circle--small-3">3</div>
    </div>
    </div>
</div>
 ----------------------------------------- */

.card--item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card--item-info {
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -15%;

  .info-circle {
    width: 55px;
    height: 55px;
    font-size: 18px;
    border-radius: 100%;
    background: #EFEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
  }

  p {
    margin: 0;
  }
}

.info-circle--img {
  width: 32px;
  height: 32px;
}

.card--item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60vw;
  border-left: 1px solid grey;
  padding-left: 14vw;
  margin-left: 6vw;
}

.card--item-sdg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto 0;
  width: 20vw;
}

.info-circle--flag {
  font-size: 36px;
}

// .info-circle--brand {
//   height: 32px;
//   width: 32px;
// }

/* -------*** Card Score  *** -----------
-------------------------------------------
------------HTML code for card-------------
<div class="col-12 mx-auto">
  <div class="card--score">
    <div class="card--score-sdg">
      <div class="circle circle--medium circle--medium-3">3</div>
    </div>
    <div class="card--score-content py-3">
      <h6 class="bold">Not-good-enough</h6>
      <p class="small">Pre-defined message based on score.</p>
    </div>
    </div>
</div>
 ----------------------------------------- */
.card--score {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 18px;
  background: rgba(248, 247, 247, 0.69);
  padding: 20px 10px;
}

.card--score-content {
  display: flex;
  flex-direction: column;
  width: 60vw;

  h6 {
    margin-bottom: 18px;
  }
}

.card--score-sdg {
  display: flex;
  align-items: center;
}

/* -------*** Card Product  *** -----------
-------------------------------------------
------------HTML code for card-------------
      <div class="col-12 mx-auto">
        <div class="card--product">
          <div class="avatar">
            <%= image_tag "dummy_avatar.jpg", class: "avatar" %>
          </div>
          <div class="card--product-content">
            <p class="small bold">product.item_name</p>
            <p class="xs">Score: product.avg_sc </p>
          </div>
          <div class="card--product-icon">
            <%= image_tag "hanger.svg", class: "icon", alt: "add to wardrobe" %>
            <%= image_tag "pencil.svg", class: "icon", alt: "edit" %>
            <%= image_tag "trash.svg", class: "icon", alt: "delete" %>
          </div>
         </div>
      </div>
 ----------------------------------------- */

.card--product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px 10px;
  border-radius: 10px;
  /* Shadow/shadow-sm */
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 71, 0.10), 0px 0px 1px 0px rgba(12, 26, 75, 0.20);

  a {
    width: 75%;
    display: flex;;
  }
}

.card--product-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
}

.card--product-icon {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    margin: 4px;
  }
}

//  Use class no-border to remove the left border
.no-border {
  border: 0;
}

.score-card {
  display: flex;
  align-items: center;
}

.score-title {
  text-align: left;
}

.score-card-img {
  display: inline-flex;
}

.score-card-content {
  font-weight: lighter;
  font-size: 1.2rem;
}
