.image-box {
  position: fixed;
  width: 100vw;

  img {
    height: 430px;
    object-fit: cover;
    width: 100%;
  }
}

.image-text {
  color: white;
}

.image-text-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  color: white;
}
