.image-container {
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.image-item {
  height: 150px;
  width: 150px;
  border-radius: 0.6rem;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 71, 0.1), 0px 0px 1px 0px rgba(12, 26, 75, 0.2);
}

.image-wrapper {
  position: relative;
  height: 150px;
  width: 150px;
  margin-right: 12px;
  margin-bottom: 25px;
}

.image-title {
  position: absolute;
  top:0;
  left: 0;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: flex-end;
  color: white;
  border-radius: 0.6rem;
  background-color: rgba(0,0,0,0.3);
  padding-left: 7px;
  padding-bottom: 4px;
}
