// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "scan";
@import "form";
@import "image_slider";

// desktop only visibility
@media screen and (min-width: 431px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

// mobile only visibility
@media screen and (max-width: 430px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
