@import "typography";
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "circle";
@import "form";
@import "image_slider";
@import "footer";
@import "card";
@import "profile";
@import "image_slider";
@import "scan";
@import "climate";
@import "background_gradient";
@import "home";
@import "wardrobe_cards";

// desktop only visibility
@media screen and (min-width: 431px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

// mobile only visibility
@media screen and (max-width: 430px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px; /* Margin bottom by footer height */
  background-image: linear-gradient(180deg, rgba(254, 244, 218, 0.22) 33.85%, rgba(254, 218, 218, 0.22) 84.37%);
}

.parallax {
  position: relative;
  top:430px;
  background-color: $body-bg;
  padding-bottom: 80px;
  background-image: linear-gradient(180deg, rgba(254, 244, 218, 0.22) 33.85%, rgba(254, 218, 218, 0.22) 84.37%);
}

.slider-container {
  position: fixed;
}
