.profile-action {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.svg-icon {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content {
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile--action-container {
  // margin-top: 140px;
}

.my-80px {
  margin: 80px 0;
}

.profile-header {
  position: relative;
}

.back-button {
  position: absolute;
  top: 25%;
  left: 9%;

  a {
    color:#A4BE7B;
  }
}
