.profile-action {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.svg-icon {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content {
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-avatar {
  margin: 1em 0;
}

/*  =========****** Back Button component ****=============
-----------------------------------------------------------
<div class="back-button"><%= link_to "Back", :back %></div>
-----------------------------------------------------------
 */

.back-button {
  position: absolute;
  top: 20px;
  padding-left: 20px;
  z-index: 999;
  a {
    color: $darker-green;
  }
}
