.scan-container {
  text-align: center;
  height: calc(100vh - 70px);
}
.scan-video {
  width: 100%;
}
#scan-startbutton {
  position: absolute;
  height: 90px;
  width: 90px;
  bottom: 25px;
  left: 38%;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99;
  text-align: center;
  border-radius: 50%;
  background-color: $green;


  .click-button {
    height: 36px;
    width: 36px;
  }
}

.camera-wrapper {
  // height: calc(100vh - 70px);
}

.scan-action {
  display: flex;
  flex-wrap: wrap;
}

.back-button {
  padding-left: 10px;
}

.manual-button {
  position: absolute;
  top: 4%;
  right: 10px;

  .button-beige {
    border-radius: 10px;
  }
}

.scan-frame {
  position: absolute;
  height: 100%;
  width: 100%;
}

.scan-frame-image {
  position: relative;
  top: 25%;
}
